/* Базовые стили */
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 2rem;
	color: #222224;
	margin-bottom: 20px;
	text-align: center;
}

p {
	font-size: 18px;
	color: #444;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
	text-align: left;
}

th {
	background-color: #4975af;
	color: white;
	padding: 12px 15px;
}

td {
	padding: 12px 15px;
}

tr:nth-child(even) {
	background-color: #8380801e;
}

tr:hover {
	background-color: #ffba5375; /* Полупрозрачная подсветка */
	transition: background-color 0.3s ease;
}

td.time-null {
	background-color: #3c426a20;
}

td.folder {
	background-color: #ffae004d;
}

.highlight-row td {
	background-color: #ff00003b;
}

.highlight-accordion .accordion-header {
	background-color: #b31616d0;
}

/* Стили для аккордеона */
.accordion-item {
	margin-top: 30px;
	border: 1px solid #ddd;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для всего аккордеона */
	transition: box-shadow 0.3s ease; /* Плавное изменение тени */
}

.accordion-header {
	background-color: #3a4d66;
	color: white;
	padding: 15px 15px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s ease;
	user-select: none;
}

.accordion-header h2 {
	margin: 0;
}

.accordion-item[open] .accordion-header {
	background-color: #3a5b8d;
}
.accordion-item[open] .accordion-indicator::after {
	transform: rotate(90deg);
	transition-duration: 0.2s;
	background-color: #3a5b8d;
}

.accordion-item .accordion-indicator::after {
	transform: rotate(0deg);
	transition-duration: 0.2s;
}
.accordion-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	aspect-ratio: 1;
	flex-shrink: 0;
	position: relative;
	background-color: #f3f3f3;
	border: 3px solid #55555563;
	border-radius: 50%;
	transform: rotate(90deg);
	transition-duration: 0.2s;
}

.accordion-item[open] .accordion-indicator {
	background-color: currentColor;

	border: 3px solid #c9c9c963;
}

.accordion-indicator::before {
	transform: rotate(90deg);
}
.accordion-indicator::before,
.accordion-indicator::after {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	content: '';
	width: 45%;
	height: 10%;
	background-color: #555555;
}

.wrapper-date {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

a {
	color: #2f5da8;
	transition: color 0.3s ease;
	text-decoration: none;
}

a:hover {
	color: #7aa7e3;
}

.link-wrapper {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.wrapper-button {
	display: flex;
	gap: 10px;
}

.sort-button {
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: 600;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253); /* Тень для всего аккордеона */
	transition: box-shadow 0.3s ease; /* Плавное изменение тени */
}

.sort-button:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
	transition: box-shadow 0.3s ease;
}

.sort-button:active {
	background-color: #7aa7e3;
}

.button,
button {
	display: flex;
	padding: 5px 10px;
	border: 1px solid #8abaf8;
	border-radius: 8px;
	background-color: #e8f1fd;
	color: #4a78c7;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.3s ease;
}

.button:hover,
button:hover {
	background-color: #8ab4f8;
	color: white;
}

.button:active,
button:active {
	background-color: #7aa7e3;
}

.sort-icon.asc::after {
	content: '↑';
}

.sort-icon.desc::after {
	content: '↓';
}

.sort-icon::after {
	content: '↕';
}

/* Адаптивные стили */
@media (max-width: 2560px) {
	.wrapper {
		width: 1200px;
		padding: 1.5rem;
	}
}
@media (max-width: 1440px) {
	.wrapper {
		width: 1000px;
		padding: 1.5rem;
	}
}
@media (max-width: 1024px) {
	.wrapper {
		width: 100%;
		padding: 1.5rem;
	}

	th,
	td {
		font-size: 14px;
		padding: 10px 12px;
	}

	.accordion-header {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;

		padding: 1rem;
		row-gap: 10px;
	}

	th,
	td {
		font-size: 12px;
		padding: 8px;
	}

	.accordion-header {
		font-size: 16px;
		padding: 8px 10px;
	}

	h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 480px) {
	.wrapper {
		width: 100%;
		padding: 0.5rem;
		row-gap: 5px;
	}

	th,
	td {
		font-size: 10px;
		padding: 5px;
	}

	.accordion-header {
		font-size: 14px;
		padding: 6px 8px;
	}

	h1 {
		font-size: 1.2rem;
	}
}

/* Выровнять контейнер по центру экрана */
.loading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Центрировать содержимое внутри контейнера */
.loading-container {
	display: flex;
	flex-direction: column; /* Разместить элементы вертикально */
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px; /* Промежуток между элементами */
}

/* Стилизация текста */
.loading-container p {
	margin: 0;
	font-size: 16px; /* Можно настроить размер шрифта */
	color: #333; /* Цвет текста */
}
