/* Базовые стили */
body {
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

h1 {
	font-size: 2rem;
	color: #222224;
	text-align: center;
}

h2 {
	font-size: 1.3rem;
}

p {
	font-size: 18px;
	color: #444;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
	text-align: left;
}

th {
	color: white;
	padding: 12px 15px;
}

td {
	padding: 12px 15px;
}

tbody:not(:last-of-type) tr {
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

/* подсветить строки через одну */
/* tbody:nth-child(even) {
	background-color: #cecdcd1e;
} */

tbody:hover {
	background-color: rgba(0, 0, 0, 0.03); /* Полупрозрачная подсветка */
	transition: background-color 0.1s ease;
}

.thead-header {
	background-color: #4975af;
	user-select: none;
	vertical-align: top;
}

.thead-highlight {
	background-color: #d15a5a;
	user-select: none;
}

/* подсветить значения где "время неизвестно" */
/* td.time-null {
	background-color: #97a0dd20;
} */

td.folder {
	background-color: hsla(41, 100%, 50%, 0.15);
}

.highlight-row td {
	background-color: hsla(0, 100%, 50%, 0.11);
}

.service-button-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.highlight-accordion .accordion-header {
	background-color: #961616d0;
}

/* Стили для аккордеона */
.accordion-item {
	border: 1px solid #ddd;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1); /* Тень для всего аккордеона */
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.accordion-item[open] {
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
		-6px -6px 12px rgba(255, 255, 255, 0.7);
	border: 2px solid #645d5d3d;
}

.accordion-header {
	background-color: #3a4d66;
	color: white;
	padding: 15px 15px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.accordion-header:hover {
	background-color: #3a5b8d;
}
.accordion-header h2 {
	margin: 0;
}

.accordion-item[open] .accordion-header {
	background-color: #3a5b8d;
}
.accordion-item[open] .accordion-indicator::after {
	transform: rotate(90deg);
	transition-duration: 0.2s;
	background-color: #3a5b8d;
}

.accordion-item .accordion-indicator::after {
	transform: rotate(0deg);
	transition-duration: 0.2s;
}
.accordion-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	aspect-ratio: 1;
	flex-shrink: 0;
	position: relative;
	background-color: #f3f3f3;
	border: 3px solid #55555563;
	border-radius: 50%;
	transform: rotate(90deg);
	transition-duration: 0.2s;
}

.accordion-item[open] .accordion-indicator {
	background-color: currentColor;

	border: 3px solid #c9c9c963;
}

.accordion-indicator::before {
	transform: rotate(90deg);
}
.accordion-indicator::before,
.accordion-indicator::after {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	content: '';
	width: 45%;
	height: 10%;
	background-color: #555555;
}

.accordion-item[open] .highlight-accordion-item {
	background-color: #b31616d0;
}

.highlight-accordion-item:hover {
	background-color: #b31616d0;
}

.wrapper-date {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

a {
	color: #2f5da8;
	transition: color 0.2s ease;
	text-decoration: none;
}

a:hover {
	color: #7aa7e3;
}

.link-wrapper {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.wrapper-button {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	height: 40px;
}

.sort-button {
	padding: 10px 15px;
	border-radius: 12px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	background-color: #e8f1fd;
	color: #5e5e5e;
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
		-4px -4px 8px rgba(255, 255, 255, 0.7);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	user-select: none;

	&:hover {
		color: #242424;
		box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3),
			-6px -6px 12px rgba(255, 255, 255, 0.7);
		transform: scale(105%);
	}

	&:active {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
			-2px -2px 4px rgba(255, 255, 255, 0.7);
		background: linear-gradient(145deg, #e6e6e6, #ffffff);
		transform: scale(100%);
	}
}

.download {
	background: linear-gradient(145deg, #eaffeb, #cce2ce);

	&:hover {
		color: #0d5808;
		transform: scale(105%);
	}

	&:active {
		transform: scale(100%);
		background: linear-gradient(145deg, #cce2ce, #eaffeb);
	}
}

.export-service {
	white-space: nowrap;
	font-size: 0.8rem;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
		-2px -2px 4px rgba(255, 255, 255, 0.4);

	&:hover {
		box-shadow: none;
		transform: scale(105%);
	}

	&:active {
		transform: scale(100%);
	}
}

.ours {
	background: linear-gradient(145deg, #fff9ea, #e2dccc);
}

.ours:hover {
	color: #583808;
}

.ours:active {
	background: linear-gradient(145deg, #e2dacc, #fff8ea);
}

.button,
button {
	display: flex;
	padding: 5px 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3),
		-4px -4px 8px rgba(255, 255, 255, 0.15);
	border: none;
	border-radius: 8px;
	background-color: #e8f1fd;
	color: #4a78c7;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.2s ease;
	user-select: none;
}

.button:hover,
button:hover {
	background-color: #8ab4f8;
	color: white;
}

.button:active,
button:active {
	background-color: #5b83b8;
}

.button:disabled,
button:disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
	box-shadow: none;
}

.sort-icon.asc::after {
	content: '↑';
}

.sort-icon.desc::after {
	content: '↓';
}

.sort-icon::after {
	content: '↕';
}

/* Адаптивные стили */
@media (max-width: 2560px) {
	.wrapper {
		width: 1450px;
	}
}
@media (max-width: 1440px) {
	.wrapper {
		width: 1050px;
	}

	th,
	td {
		font-size: 14px;
		padding: 10px 12px;
	}
}
@media (max-width: 1024px) {
	.wrapper {
		width: 100%;
	}

	th,
	td {
		font-size: 14px;
		padding: 10px 12px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;

		padding: 1rem;
		row-gap: 20px;
	}

	th,
	td {
		font-size: 12px;
		padding: 8px;
	}

	h1 {
		font-size: 1.7rem;
	}
}

@media (max-width: 480px) {
	.wrapper {
		width: 100%;
		padding: 0.5rem;
		row-gap: 15px;
	}

	th,
	td {
		font-size: 10px;
		padding: 5px;
	}

	.accordion-header {
		font-size: 14px;
		padding: 6px 8px;
	}
}

/* Выровнять контейнер по центру экрана */
.loading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Центрировать содержимое внутри контейнера */
.loading-container {
	display: flex;
	flex-direction: column; /* Разместить элементы вертикально */
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem; /* Можно настроить размер шрифта */
	font-weight: 600;
	color: #2f5da8;
	gap: 10px; /* Промежуток между элементами */
}

.loading-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px; /* Фиксированная высота индикатора загрузки */
	gap: 10px;
}

/* Обертка для календаря */
.date-picker-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Стили для input[type="date"] */
.date-picker-wrapper input[type='date'] {
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid #ddd;
	background: #fff;
	color: #333;
	font-size: 16px;
	font-family: Arial, sans-serif;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Стили для фокуса на input[type="date"] */
.date-picker-wrapper input[type='date']:focus {
	border-color: #4a78c7;
	box-shadow: 0 0 4px rgba(74, 120, 199, 0.3);
	outline: none;
}

/* Иконка календаря */
.date-picker-wrapper .calendar-icon {
	position: absolute;
	right: 10px;
	width: 24px;
	height: 24px;
	background: url('./icons/calendar.svg') no-repeat center center;
	background-size: contain;
	cursor: pointer;
}
