:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8ab4f8;
  text-decoration: inherit;
}
a:hover {
  color: #7aa7e3;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #8ab4f8;
  border-radius: 8px;
  background-color: #e8f1fd;
  color: #4a78c7;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #8ab4f8;
  color: #ffffff;
  border-color: #7aa7e3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #7aa7e3;
  border-color: #6a96cf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 10px 15px;
  font-weight: bold;
}

.sort-button {
  display: flex;
}

button.sort-icon {
  align-self: center;
}

.sort-icon.asc::after {
  content: '↑';
}

.sort-icon.desc::after {
  content: '↓';
}

.sort-icon::after {
  content: '↕';
}


.data-scan {
  width: 200px;
}